@import "tailwindcss";

:root {
  /* Base */
  --background: #ffffff;
  --foreground: #171717;

  /* ERP Theme */
  --gc-screen-bg: #f8fafc;
  --gc-menu-bg: #1C415B;
  --gc-menu-text: #ffffff;
  --gc-menu-icon: #39B89F;
  --gc-menu-hover: #39B89F;

  --gc-text-light: #1f2937;
  --gc-text-dark: #ffffff;

  --gc-button-dark-bg: #1C415B;
  --gc-button-dark-text: #ffffff;
  --gc-button-light-bg: #ffffff;
  --gc-button-light-text: #1f2937;

  --gc-modal-bg: #ffffff;
  --gc-modal-text: #1f2937;
}

body {
  background: var(--gc-screen-bg);
  color: var(--gc-text-light);
  font-family: Arial, Helvetica, sans-serif;
}

.gc-screen {
  background-color: var(--gc-screen-bg);
}

.gc-card {
  background-color: var(--gc-modal-bg);
  color: var(--gc-text-light);
}

.gc-menu {
  background-color: var(--gc-menu-bg);
  color: var(--gc-menu-text);
}

.gc-button-dark {
  background-color: var(--gc-button-dark-bg);
  color: var(--gc-button-dark-text);
}

.gc-button-light {
  background-color: var(--gc-button-light-bg);
  color: var(--gc-button-light-text);
}

.gc-border {
  border-color: var(--gc-menu-hover);
}


.scrollbar-erp::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-erp::-webkit-scrollbar-thumb {
  background-color: var(--gc-menu-hover);
  border-radius: 6px;
}

.scrollbar-erp::-webkit-scrollbar-track {
  background: transparent;
}

@media print {
  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .print-no-break {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }

  .no-print {
    display: none !important;
  }
}
